.btn-close-custom {
  background-color: transparent;
  padding: 0;
  span {
    font-size: 1.6rem;
    color: #b3b3b3;
    // height: 20px;
  }
  div {
    width: 30px;
    color: #b3b3b3;
  }
}
.modal-report {
}
